<section class="blog-banner-area" id="blog">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <a href="/category?limit=9"><img class="img_banner" src="/img/banner/banner1.png"></a>
      </div>
    </div>
  </div>
</section>