<!-- ================ start banner area ================= -->
{{> banner}}
<!-- ================ end banner area ================= -->


<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                <div class="categories_post">
                    <img class="card-img rounded-0" src="img/blog/main-blog/blockchain.jpg" height="213px" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="https://www.investopedia.com/terms/b/blockchain.asp" target="_blank">
                                <h5>Công nghệ mỗi ngày</h5>
                            </a>
                            <div class="border_line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                <div class="categories_post">
                    <img class="card-img rounded-0" src="img/blog/main-blog/mean.jpg" height="213px" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="https://www.mongodb.com/mean-stack" target="_blank">
                                <h5>Lập Trình Web</h5>
                            </a>
                            <div class="border_line"></div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                <div class="categories_post">
                    <img class="card-img rounded-0" src="img/blog/main-blog/ios.jpg" height="213px" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="https://ionicframework.com/docs/developing/ios" target="_blank">
                                <h5>Lập trình IOS</h5>
                            </a>
                            <div class="border_line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div>
            <h1 class="post_title">Kỹ sư phần mềm làm những công việc gì?</h1>
        </div>
        <div>
            <img src="img/kĩ-sư.jpg" width="350" height="200">
        </div><br>
        <div>
            <h3>Kỹ sư phần mềm, họ là ai?</h3>
            <p>Kỹ sư phần mềm là những người có kiến thức sâu rộng về ngôn ngữ lập trình, phát triển phần mềm, hệ điều
                hành máy tính. Ứng dụng những nguyên tắc, công nghệ trong từng giai đoạn phát triển phần mềm (Software
                Development Life Cycle), họ tạo ra sản phẩm phần mềm và các hệ thống khác trên máy tính. Họ sử dụng các
                kĩ thuật toán học, khoa học, công nghệ, thiết kế và thường phải kiểm tra, đánh giá phần mềm của mình
                hoặc của người khác. Kỹ sư phần mềm thường có bằng cấp về khoa học máy tính. Họ có kĩ năng phân tích và
                giải quyết vấn đề. Ngoài ra, họ luôn muốn chủ động trong tìm kiếm, học hỏi những kiến thức mới và có kĩ
                năng giao tiếp</p><br>
            <h3>Các kỹ năng của kỹ sư phần mềm</h3>
            <p>Kỹ sư phần mềm cần nắm vững những kỹ năng, kiến thức công nghệ liên quan đến công việc của họ:</p>
            <p>
            <ul>
                <li>Viết code và lập trình (Programming & coding). Lưu ý sự khác nhau giữa hai công việc này</li>
                <li>Nền tảng của ngành khoa học máy tính.</li>
                <li>Thiết kế và kiến trúc phần mềm.</li>
                <li>Giải thuật và cấu trúc dữ liệu.</li>
                <li>Phân tích thông tin, yêu cầu.</li>
                <li>Tìm kiếm và sửa lỗi (debugging) phần mềm.</li>
                <li>Kiểm thử (testing) phần mềm, đảm bảo phần mềm chạy đúng yêu cầu, được tối ưu hóa và không bị lỗi.
                </li>
            </ul>
            </p>
            <p>Ngoài ra, những kỹ năng mềm cũng quan trọng đối với các kỹ sư phần mềm:</p>
            <p>
            <ul>
                <li>Kỹ năng giải quyết vấn đề và suy luận logic.</li>
                <li>Làm việc nhóm và quản lý nhóm</li>
                <li>Kỹ năng lập kế hoạch</li>
                <li>Kỹ năng hướng dẫn, đào tạo</li>
                <li>Kỹ năng giao tiếp, trình bày (presentation skill)</li>
                <li>Kỹ năng quản lý dự án</li>
                <li>Kỹ năng ra quyết định & quản lý rủi ro.</li>
            </ul>
            </p>
            <h3>Cơ hội và mức lương kỹ sư phần mềm</h3>
            <p>Trong những năm gần đây, “độ nóng” của ngành Công Nghệ Thông Tin (CNTT) ngày càng tăng, và ngành CNTT
                luôn có sức hấp dẫn. Lập trình phần mềm còn được đánh giá là một trong số ít nghề có khả năng “miễn
                dịch” với khủng hoảng kinh tế hiện nay.</p>
            <p>Ở một số nơi trên thế giới, số lượng kỹ sư phần mềm thực tế dự kiến ​​sẽ tăng lên tới 30% vào năm 2020,
                theo Computerworld. Tại Việt Nam, theo một báo cáo gần đây, nhu cầu tuyển dụng kỹ sư phần mềm tăng 56%
                trong năm 2019 và không có dấu hiệu hạ nhiệt trong năm 2020. Báo cáo cũng cho thấy năm 2020, nhu cầu
                nhân lực phần mềm là 400,000 nhân sự và tăng lên 500,000 người vào 2021.</p>
            <p>Hơn nữa, nhu cầu cao về nghề nghiệp dành cho các lập trình viên phần mềm có nghĩa là áp lực về công việc
                sẽ tăng lên kèm theo lương cũng tăng dành cho các kỹ sư phần mềm tương lai. Tại Việt Nam, mức lương mà
                các kỹ sư phần mềm nhận được cũng khá cao so với các ngành nghề khác là từ 1.000-1.500 USD/tháng. Với
                những người ở vị trí giám sát, mức lương từ 3.000 USD hay 4.000 USD/tháng. Ngoài ra, những kỹ sư viết
                chương trình phần mềm đơn giản cũng có thu nhập mỗi tháng khoảng từ 800-900 USD hay 1.200 USD.</p>
            <div>
                <img src="img/blog/main-blog/luong_ky_su.jpg" width="572" height="374">
            </div>
        </div><br>
    </div>
</section>
<!--================Blog Area =================-->