<div class="container">
    <div class="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="profile" checked>
        <label for="tab1"><a href="/user/account">Thông tin cá nhân</a></label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
        <label for="tab2"><a href="/user/user_trans">Thông tin giao dịch</a></label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
        <label for="tab3"><a href="/user/user_course">Khóa học của tôi</a></label>
        <div class="tab-panels">
            <section id="profile" class="tab-panel">
                <form id="profile" action="/user/change-password" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="/img/no-image.png">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <fieldset>
                                <div class="row">
                                    <label class="col-sm-4 control-label">Mật khẩu hiện tại:</label>
                                    <div class="col-sm-6">
                                        <input type="password" name="oldPassword" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label">Mật khẩu mới:</label>
                                    <div class="col-sm-6">
                                        <input type="password" name="newPassword1" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label">Xác nhận mật khẩu mới:</label>
                                    <div class="col-sm-6">
                                        <input type="password" name="newPassword2" required>
                                    </div>
                                </div>
                            </fieldset>
                            <hr class="line">
                            <button class="button button-blog" type="submit">Đổi mật khẩu</button>
                            {{#ifCond newPasswordNotMatch true}}
                            <hr class="line">
                            <div class="row">
                                <span class="alert alert-danger">Mật khẩu xác nhận không khớp</span>
                            </div>
                            {{/ifCond}}
                            {{#ifCond passwordFalse true}}
                            <hr class="line">
                            <div class="row">
                                <span class="alert alert-danger">Mật khẩu nhập vào sai</span>
                            </div>
                            {{/ifCond}}
                            {{#ifCond changedPassword true}}
                            <hr class="line">
                            <div class="row">
                                <span class="alert alert-primary">Thay đổi mật khẩu thành công</span>
                            </div>
                            {{/ifCond}}
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

</div>