<!-- ================ start banner area ================= -->
{{> banner}}
<!-- ================ end banner area ================= -->

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class = "col-lg-2">
			</div>
			<div class="col-lg-8">
				<div class="row">
					<h4>Vui lòng cung cấp Email để đặt lại mật khẩu</h4>
				</div>
				<hr class="line">
				<div class="row">
					<label class="col-sm-4 control-label">Email:</label>
					<div class="col-sm-5">
						<input type="email" name="emailResetPassword" id="emailResetPassword" required>
					</div>
					<div class="col-sm-3">
						<button class="button button-blog text-white" id="sendEmail" onclick="checkAndSendEmail()">Gửi
							email</button>
					</div>
				</div>
				<div class="row" id="emailNotMatch">
				</div>
				<div class="row" id="emailSent">

				</div>
				<div class="row" id="OTPdiv" hidden>
					<label class="col-sm-4 control-label">Mã OTP:</label>
					<div class="col-sm-5">
						<input id="otpCode" name="otpCode" required>
					</div>
				</div>
				<div class="row" id="newResetPassword1div" hidden>
					<label class="col-sm-4 control-label">Nhập mật khẩu mới:</label>
					<div class="col-sm-5">
						<input type="password" name="newResetPassword1" id="newResetPassword1" required>
					</div>
				</div>
				<div class="row" id="newResetPassword2div" hidden>
					<label class="col-sm-4 control-label">Xác nhận mật khẩu mới:</label>
					<div class="col-sm-5">
						<input type="password" name="newResetPassword2" id="newResetPassword2" required>
					</div>
				</div>
				<div class="row" hidden>
					<input type="text" id="tOtpCode">
				</div>
				<div class="row" hidden>
					<input type="text" id="userID" name="userID">
				</div>
				<div class="row" id="otpFalse">
				</div>
				<div class="row" id="newPasswordNotMatch">
				</div>
				<div class="row" id="changePasswordDone">
				</div>
				<hr class="line">
				<div class="row">
					<button class="button button-blog text-white" onclick="resetPassword()">Hoàn tất</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->