<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin giao dịch</title>
</head>

<body>
   <div class="container-fluid" style="background-color: #DCDCDC;">
       <div class="row">
           <div class="col background_col">
               <div class="background_message">
                   <div class="row" style="margin: 15% 0;">
                       <div class="col-5" style="display: flex;justify-content: flex-end;">
                           <img style="width: 170px;" src="/img/success.png" />
                       </div>
                       <div class="col-7">
                           <div style="width: 70%;">
                               <h4 style="color: #00a859;">Thanh toán thành công</h4>
                                <p>Khóa học của bạn đã giao dịch thành công, hãy trải nghiệm khóa học và để lại đánh giá của bạn. Hãy nổ lực để trở thành một lập trình viên giỏi.</p>
                                <div class="row">
                                    <a class="btn_goHome" href="/">TRANG CHỦ</a>
                                    <a class="btn_startuse" href="/user/user_course">TRẢI NGHIỆM KHÓA HỌC</a>
                                </div>
                           </div>
                       </div>
                   </div>
                </div>
           </div>
       </div>
   </div>
</body>

</html>